{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Task list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Estimatedtime</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.deadline %}{{ entity.deadline|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.estimatedTime }}</td>
                <td>{{ entity.state }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('task_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('task_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('task_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
